<!DOCTYPE html>
<html ng-app="topOfTheMorning">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Top of the Morning</title>
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
  <link rel="stylesheet" href="./assets/css/app.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.4.9/angular-sanitize.min.js"></script>
  <script src="./app/app.module.js"></script>
  <script src="./app/components/npr/nprFilters.js"></script>
  <script src="./app/components/weather/weather.js"></script>
  <script src="./app/components/npr/npr.js"></script>
  <script src="./app/components/nyt/nyt.js"></script>
</head>
<body ng-controller="AppController as app">
  <article>
    <section class="header">
      <h1>Top of the Morning to you, {{ app.user.firstName }}!</h1>
      <h2>{{ app.date | date: "EEEE, MMMM d h:mm" }}</h2>
    </section>
    <section ng-controller="WeatherController as weather">
      <h1>Today's weather</h1>
      <h2>This morning: {{ weather.description }}, {{ weather.morning | number:0 }}&deg;F</h2>
      <h3>High of {{ weather.high | number:0 }}&deg; and a low of {{ weather.low
        | number:0 }}&deg;</h3>
    </section>
    <section ng-controller="NprController as npr">
      <h1 ng-click="npr.expand()">NPR</h1>
      <div ng-show="npr.expanded">
      <npr-player></npr-player>
      <h2 ng-click="npr.expandTop()">Top Stories</h2>
      <div ng-show="npr.topExpanded">
      <div ng-repeat="story in npr.topStories track by $index">
        <h3 ng-class="{faded: story.played}" ng-click="expandStory(story)">{{
          story | nprTitle }}</h3>
        <h4>{{ story | nprProgram }}</h4>
        <p ng-show='story.expanded' ng-click="playStory(story)"
        ng-bind-html="story | nprTeaser"></p>
      </div>
      </div>
      <h2 ng-click="npr.expandHealth()">Health Care</h2>
      <div ng-show="npr.healthExpanded">
      <div ng-repeat="story in npr.healthStories track by $index">
        <h3 ng-class="{faded: story.played}" ng-click="expandStory(story)">{{
          story | nprTitle }}</h3>
        <h4>{{ story | nprProgram }}</h4>
        <p ng-show='story.expanded' ng-click="playStory(story)">{{ story | nprTeaser }}</p>
      </div>
      </div>
      <h2 ng-click="npr.expandEcon()">Economics</h2>
      <div ng-show="npr.econExpanded">
      <div ng-repeat="story in npr.econStories track by $index">
        <h3 ng-class="{faded: story.played}" ng-click="expandStory(story)">{{ story | nprTitle }}<h3>
        <h4>{{ story | nprProgram }}</h4>
        <p ng-show='story.expanded' ng-click="playStory(story)">{{ story | nprTeaser }}</p>
      </div>
      </div>
      </div>
    </section>
    <section ng-controller="NytController as nyt">
      <h1 ng-click="nyt.expand()">New York Times</h1>
      <div ng-show="nyt.expanded">
      <h2 ng-click="expandHome()">Top Stories</h2>
      <div ng-show="homeExpanded">
        <div ng-repeat="story in nyt.homeStories | limitTo:10 track by $index">
          <h3><a href="{{ story.url }}">{{ story.title }}</a></h3>
          <p ng-bind-html="story.abstract"></p>
          <img ng-src="{{ story.multimedia[0].url }}" alt="{{
          story.multimedia[1].caption }}"/>
        </div>
      </div>
      <h2 ng-click="expandHealth()">Health</h2>
      <div ng-show="healthExpanded">
        <div ng-repeat="story in nyt.healthStories | limitTo:10 track by $index">
          <h3><a href="{{ story.url }}">{{ story.title }}</a></h3>
          <p ng-bind-html="story.abstract"></p>
          <img ng-src="{{ story.multimedia[0].url }}" alt="{{ story.multimedia[1].caption }}"/>
        </div>
      </div>
      </div>
    </section>
  </article>
</body>
</html>
